@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "generales.css";

article{
    display: flex;
}
aside{
    width: 35%;
}
.containerAside{
    background: linear-gradient(180deg, rgba(26,26,26,1) 10%, rgba(36,36,36,1) 90%);
    padding: 15px;
    margin-right: 25px;
    width: 80%;
    max-height: 400px;
    border-radius: 10px;
    position: sticky;
    top: 100px;
    overflow-y: scroll;
}

.tituloClaseHtml{
    display: flex;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #FF8000;
    font-size: 23px;
}
.listaDeClases{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.listaDeClases a li:hover{
    background: linear-gradient(90deg, rgba(109,52,138,1) 0%, rgba(219,105,193,1) 100%);
}

.botonesDeClases{
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 18px;
    font-size: 16px;
    text-align: center;  /* Esto hace que los botones tengan el mismo tamaño */
    width: 150px;               /* Esta linea tambien hace lo mismo que arriba */
    cursor: pointer;
}
.lineaSeparadora{
    height: 3px;
    background-color: white;
    margin: 17px;
}
.botonesDeCursos{
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    padding: 7px;
    margin: 15px;
    width: 100px;
    font-size: 13px;
    justify-content: center;
}
.listaDeCursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
.listaDeCursos a :hover{
    background: linear-gradient(90deg, rgba(109,52,138,1) 0%, rgba(219,105,193,1) 100%);
    cursor: pointer;
}
.botonesDeClases.activo{
    background: linear-gradient(90deg, rgba(109,52,138,1) 0%, rgba(219,105,193,1) 100%);
    border: none;
    padding: 13px;
}

@media (max-width: 426px){
    aside{
      position: fixed;
      transform: translateX(500px);
      width: 82%;
      z-index: 1;
    }
    aside.active{
        transition: .2s;
        /* transform: skewX(30px); */
        transform: translateX(20px);
    }
    .containerAside{
        width: 100%;
    }
}