@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import "generales.css";

aside{
    position: fixed;
    right: 0;
    top: 80px;
    overflow-y: scroll;
    width: 30%;
    height: 63%;
}
.containerAside{
    background: linear-gradient(180deg, rgba(26,26,26,1) 10%, rgba(36,36,36,1) 90%);
    display: flex;
    margin: 25px;
    flex-direction: column;
    border-radius: 10px;
    flex-basis: 20%;
}
.tituloClaseHtml{
    display: flex;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
    color: #FF8000;
    font-size: 30px;
}
.listaDeClases{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.listaDeClases :hover{
    background: linear-gradient(90deg, rgba(109,52,138,1) 0%, rgba(219,105,193,1) 100%);
}
.botonesDeClases{
    border: 3px solid white;
    border-radius: 10px;
    padding: 10px;
    margin: 25px;
    font-size: 25px;
}
.lineaSeparadora{
    height: 3px;
    background-color: white;
    margin: 17px;
}
.botonesDeCursos{
    display: flex;
    border: 2px solid white;
    border-radius: 10px;
    padding: 7px;
    margin: 15px;
    font-size: 13px;
}